#social {
    width: 100% !important;
    background: #b3e5fc;
    color: white;
    font-size: 1.5em;
}

#touch {
    color: #455a64 !important;
}

.ig-b- {
    display: inline-block;
}

.ig-b- img {
   
}



.ig-b-v-24 {
    width: 137px;
    height: 24px;
    background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .ig-b-v-24 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png);
        background-size: 160px 178px;
    }
}
